.container_conditions {
    display: grid;
    gap: 20px;
    align-items: left;
    background: #FAC663 40 %;
    grid-template-columns: 1fr 300 px;
}

.conditions_paw {
    width: 217.87px;
    height: 169.88px;
    left: 243px;
    bottom: 300px;
}

.conditions_text {
    display: flex;
    justify-content: center;
    width: 403px;
    height: 101px;
    right: 217px;
    border-radius: 60px;

    font-size: 25px;
    font-weight: bold;
    font-family: PT serif;
    text-align: Center;
    color: #000000;
    background: #FBC63E;
}

.conditions_cat {
    position: inherit;
    margin-top: -50px;
    width: 100%;
    max-width: 300px;
    height: auto;
}

.first_conditions {
    flex: 1;
    font-family: 'Cardo', serif;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
}

.card1 {
    display: grid;
    width: 14%;
    background: #FBC63E;
    margin: 10px;
    padding: 10px;
    size: 20px;
    height: 246px;
    left: 81px;
    radius: 9px;
}

.card2 {
    display: grid;
    width: 14%;
    background: #FBC63E;
    margin: 10px;
    padding: 10px;
    size: 20px;
    height: 246px;
    left: 81px;
    radius: 9px;
}

.second_conditions {
    font-family: 'Cardo', serif;
    display: flex;
    flex-basis: 300px;
    flex-direction: row;
    justify-content: flex-start;
}

.card3 {
    display: grid;
    width: 14%;
    background: #FBC63E;
    margin: 10px;
    padding: 10px;
    size: 20px;
    height: 246px;
    left: 81px;
    radius: 9px;
}

h4 {
    background: white;
    font-size: 20px;
    width: 165px;
    height: 42px;
    left: 523px;
}

.card4 {
    display: grid;
    width: 14%;
    background: #FBC63E;
    margin: 10px;
    padding: 10px;
    size: 20px;
    height: 246px;
    left: 81px;
    radius: 9px;
}